.overlay {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../../../assets/Imagenes/rick-and-morty-login.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  
.gifContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%; /* Ajusta el tamaño del GIF según lo necesites */
    height: auto; /* El alto se ajusta automáticamente según el ancho */
    z-index: 1;
    
}

.gif {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-name: spinIn;
    animation-duration: 1s;
}


@keyframes spinIn {
    from {
        width: 0;
        height: 0;
    }

    30% {
        width: 0;
        height: 0;
    }
    
    to {
        width: 100%;
        height: 100%;
    }
}

.component {
    position: relative;
    z-index: 3;
}

/* .logoContainer {
    position: absolute; 
    align-items: center;
    width: 5px;
    top: 1px;
    left: 80px;
    z-index: 2;
}
  
.logo {
    margin-left: 300px;
    margin-right: auto;
    width: 680px;
    height: auto;
} */
  