.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222836;
    padding: 5px 8px;
  }
  
  .navbarBrand {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
  }

  /* .logo{
    background-size: contain; 
    background-repeat: no-repeat;
  } */
  
  .rightSection {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  
  .navBarNav {
    margin: 0 10px;
  }
  
  .link {
    text-decoration: none;
    color: #fff;
  }
  
  .SearchBar {
    padding: 5px;
  }

/*Boton Log Out*/
.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: .3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

/* plus sign */
.sign {
  width: 100%;
  transition-duration: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}
/* text */
.text {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: .3s;
}

.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: .3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: .3s;
  padding-left: 20px;
}

.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: .3s;
  padding-right: 10px;
}

.Btn:active {
  transform: translate(2px ,2px);
}


.random {
    background-color: #444141;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    border: none;
}

.random:hover {
    background-image: linear-gradient(90deg, #53cbef 0%, #dcc66c 50%, #ffa3b6 75%, #53cbef 100%);
    animation: slidernbw 5s linear infinite;
    color: #000;
}

@keyframes slidernbw {
    to {
    background-position: 20vw;
    }
}
