body {
   text-align: center;
   margin: 0px;
   background-image: url("../assets/Imagenes/espacio-interestelar.jpg");
   background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }