.detail {
  background-image: url("../../../assets/Imagenes/fondo.png");
  width: 650px;
  height: auto;
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 20px;
  padding-right: 20px;
  border-radius: 15px;
  color: white;
  display: grid; 
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
  text-align: center;
  align-items: center;
  box-shadow: 0 8px 16px rgba(119, 236, 40, 0.884);
}

.titulo {
  grid-column: span 2;
}

.info {
  grid-row: 2;
  text-align: left;
  margin-left: 40px;
  padding-bottom: 20px;
}

.imagen {
  grid-row: 2;
  text-align: center;
}

.imagen img {
  width: 100%;
  border-radius: 5%;
  max-width: 300px;
  height: auto;
}