.Card {
  margin-top: 10px;
  margin-bottom: auto;
  width: 300px;
  height: 400px;
  box-sizing: border-box;
  background-image: url("../../../assets/Imagenes/FondoCartass.jpg");
  border-radius: 20px;
  transition: all 0.3s;
  grid-template-columns: auto 1fr auto; 
  position: relative; 
  display: flex;
  justify-content: center; 
  align-items: center;
  box-sizing: border-box;
  background-size: cover; 
  background-position: center;
}

.Card:hover {
  transform: scale(0.98);
  border-radius: 20px;
  box-shadow: 0px 0px 30px 1px rgba(14, 223, 14, 0.863);
}

.Card img {
  border-radius: 20px;
  height: 280px;
  width: 250px;
}

/* Botones */
.Card .buttonClose {
  opacity: 0.7;
  position: absolute;
  top: 10px;
  right: 10px;
}

.buttonClose:hover{
  background-color: red;
  color: white;
}

.Card .buttonHeart {
  opacity: 0.7;
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
}
